.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__image {
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  width: 420px;
  height: 32px;
  font-weight: 500px;
  font-size: 32px;
  color: #212121;
}

.profile__description {
  margin: 0;
  width: 97px;
  height: 16px;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  opacity: 70%;
}
.profile__edit-button {
  margin-top: auto;
  border: 0;
  width: 108px;
  height: 16px;
  background-color: transparent;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  opacity: 70%;
}

.profile__edit-button:hover {
  color: #212121;
}

.profile__plus-button {
  margin-left: auto;
  background-color: #212121;
  color: #fcf5e5;
  width: 149px;
  height: 52px;
  margin-top: auto;
  border: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
}

.profile__plus-button:hover {
  opacity: 80%;
}
